services:
  web-server:
    build:
      context: .
      dockerfile: Dockerfile
    command: ["uvicorn", "main:app", "--host", "0.0.0.0", "--port", "80"]
    volumes:
      # Esto lo hacemos para que se muestr automaticamente cualquier cambio que hagamos en el c digo fuente
      - ./:/app
    ports:
      - "80:80"
    restart: always
    
